body {
   background-image: url("http://36.media.tumblr.com/e730453c06507642363c8250d17e785f/tumblr_nlvedvd5nN1rvt6pho1_500.jpg")
}
.uppercase {
    text-transform: uppercase;
    font-size: 32px;
}
h1 {
    border-style: dashed;
    border-width: 3px;
        border-color: blue
}
img {
    width: 350px;
    height: auto;
}
p{
    font-size: 36px;
    color: black;
}
